<div>
    <div ng-include="'/modules/common/home-carousel.html'"></div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <table style="width:100%;">
                        <tr>
                            <td>Messages</td>
                            <td style="text-align: right;"><a href="/articles/messages" class="btn btn-primary"> View all</a>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="panel-body home-acc-body">
                    <accordion close-others="oneAtATime">
                        <accordion-group heading="{{message.title}}" ng-init="isOpen = ($index==0)" bindonce ng-repeat="message in messages track by $index" class="text-overflow">

                            <div class="home-acc-content">
                                <div class="message-pics">
                                    <img ng-src="{{message.image}}" />
                                    <div class="disabled"><b>{{message.author}}</b>
                                        <br/>{{message.imageCaption}}</div>
                                </div>
                                <div class="home-acc-desc" ng-bind-html="message.desc | substring:200"></div>
                                <a ng-href="/articles/messages/{{message.id}}" class="btn btn-primary">Read</a>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <table style="width:100%;">
                        <tr>
                            <td>Announcements</td>
                            <td style="text-align: right;"><a href="/articles/annoucements" class="btn btn-primary"> View all</a>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="panel-body home-acc-body">
                    <accordion close-others="oneAtATime">
                        <accordion-group heading="{{annoucement.title}}" bindonce ng-repeat="annoucement in annoucements track by $index" class="text-overflow">

                            <div class="">
                                <div class="home-acc-desc" ng-bind-html="annoucement.desc | substring:200"></div>
                                <a ng-href="/articles/annoucements/{{annoucement.id}}" class="btn btn-primary">Read</a>
                            </div>
                        </accordion-group>


                    </accordion>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="panel-heading">
        <span class="left"> Galleries</span>
        <span class="right"> <a href="/gallerylist">View all</a></span>
</div>
<br/>
<!-- <table style="width:100%;">
    <tr>
        <td class="panel-heading" style="text-align:left;">Galleries</td>
        <td class="panel-heading" style="text-align:right;"> </td>
    </tr>
</table> -->
<div gallery-list="galleryList" select-gallery="selectGallery" limit-to="5" />
