<div class="row">
    <div class="col-sm-2">
        <img src="/images/logo.png" />
    </div>
    <div class="col-sm-10">
        <div class="row banner-heading">
            <div class="col-sm-10" style="padding-left:40px; padding-top:20px;">
                <h2 class="text-warning" style="display:inline;">National Cyber Defence and Research Center</h2>
                <br/>
                <h6 class="text-success" style="display:inline">(An autonomous body undertaken by NCSL)</h6>
            </div>
            <div class="col-sm-2 navbar-right" style="padding-left:30px;">Welcome Guest</div>

        </div>
        <!--       
          -->
    </div>
</div>
<!-- <nav class="navbar navbar-inverse" role="navigation" style="border: 2px solid #6598CB;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NCDRC</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home </a>
                </li>
                <li><a href="#">About Us</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">National Cyber Safety & Security Standards</a>
                        </li>
                        <li><a href="#">National Cyber Crime Reference Handbook</a>
                        </li>
                        <li><a href="#">Quit Privacy</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Research Centers</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<nav class="navbar navbar-custom" role="navigation" ng-controller="NavigationController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NCDRC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-repeat="menuItem in menus track by $index">
                <li ng-if="!menuItem.menu"><a ng-href="{{menuItem.url}}">{{menuItem.name}}</a>
                </li>
                <li class="dropdown" ng-if="menuItem.menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{menuItem.name}} <span class="caret"></span>
                        <ul class="dropdown-menu" role="menu" ng-repeat="item in menuItem.menu track by $index">
                            <li ng-if="!item.submenu"><a ng-href="{{item.url}}">{{item.name}}</a>
                            </li>
                            <li ng-if="item.submenu" class="dropdown-submenu">
                                <a tabindex="-1" href="#">{{item.name}}</a><!-- <span class="caret"></span> -->
                                    <ul class="dropdown-menu" role="menu">
                                        <li  ng-repeat="subItem in item.submenu track by $index"><a href="{{subItem.url}}">{{subItem.name}}</a>
                                        </li>
                                    </ul>
                            </li>
                           
                        </ul>

                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Not available now">
                        </div>
                        <button type="submit" class="btn btn-default disabled">Search</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>