<div class="row" ng-controller="NavigationController">
    <div class="col-sm-3" ng-repeat="footer in footers">
        {{footer.title}}
        <a class="block" ng-repeat="link in footer.links" ng-href="{{link.url}}">{{link.title}}</a>
    </div>
    <div class="socialLinkFooter">
          <a href="#" class="disabled"><img src="/images/social-networks/twitter.png"/></a>
          <a href="https://www.facebook.com/NCSASSSummit2014" target="_blank"><img src="/images/social-networks/facebook.png"/></a>
          <a href="#" class="disabled"><img src="/images/social-networks/g-plus.png"/></a>
          <a href="#" class="disabled"><img src="/images/social-networks/linked-in.png"/></a>
    </div>
</div>
<div>
    <span class="text-default navbar-center ">&copy; Copyright 2013-2014 | &reg; All Rights Reserved</span>
    </span>
</div>
