<!-- <div class="row panel-body" ng-repeat="article in articleList track by $index">
  <div class="col-sm-2">
    <div class="thumbnail ">
      <img alt="..." ng-src="{{article.image}}">      
    </div>
  </div>
  <div class="col-sm-9">
  <div class="caption">
        <h3>{{article.title}}</h3>
        <div class="articleListDesc">
          <div ng-bind-html="article.smallDesc"></div>
        </div>
        <p><a ng-href="/articles/{{articleType}}/{{article.id}}" class="btn btn-primary" role="button">Read</a></p>
      </div>
  </div>
</div>
 -->

<div class="row panel-body" style="border-bottom: 1px dashed gray" ng-repeat="article in articleList track by $index">
    <div style="float:left;  width:250px; text-align:center; margin:0px;">
        <div style="margin:20px;border: 1px dashed gray; ">
            <img ng-src="{{article.image}}" style="width:150px; height:auto;" />
            <div class="disabled"><b>{{article.author}}</b>
                <br/>{{article.imageCaption}}</div>
        </div>
    </div>
    <div>
        <div class="caption">
            <h3>{{article.title}}</h3>
            <div ng-bind-html="article.desc | substring: 300"></div>
            <a ng-href="/articles/{{articleType}}/{{article.id}}" class="btn btn-primary right" role="button">Read</a>
        </div>
    </div>
</div>