<div class="modal-header">
    <h3 class="modal-title">Gallery :{{gallery.name}}</h3>
    <p>{{gallery.desc}}</p>
</div>
<div class="modal-body">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in gallery.album" active="slide.active">
            <img class="galleryCarousel" ng-src="{{slide.image}}" style="margin:auto; height:100%;">
            <div>
                <div >
                    <h3><p>{{slide.title}}</p></h3>
                    <p>{{slide.desc}}</p>
                </div>
            </div>

        </slide>
    </carousel>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="ok()">OK</button> -->
    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>
